/*
 * Global CSS goes here, it requires to use :global before each style
 */
:global html {
    height: 100%;
}
:global body {
    height: 100%;
    margin: auto;
    background: #333;
}
:global #app {
    width: 100%;
    height: 100%;
    color: #2c3e50;
    font-family: Source Sans Pro, Helvetica, sans-serif;
    text-align: center;
}
:global #app p {
    text-align: justify;
}
